.center-table {
	width: 400px;
	height: 100px;
	background-color: white;
	margin: auto;
	margin-top: 10%;
	top: 50%;
	bottom: 50%;
}

#login-form {
}

#admin .low-width {
    width: 30%
}

#admin .full-width {
    width: 100%
}