<div id="admin" class="center-text">
    <div id="login-form" ng-show="loggedIn == false">
        <form class="form-horizontal">
            <div class="form-group">
                <table class="center-table">
                    <tr>
                        <td class="low-width">
                            <label class="control-label">Username: </label>
                        </td>
                        <td class="spaced-row">
                            <input type="text" class="full-width form-input form-control" ng-model="username" id="username" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Password:  </label>
                        </td>
                        <td class="spaced-row">
                            <input type="password" class="full-width form-input form-control" ng-model="password" id="password" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary" ng-click="login()">Log In</button>
                        </td>
                    </tr>
                </table>

            </div>

        </form>
    </div>
    <div ng-show="loggedIn == true">
        <table class="center-table">
            <tr>
                <td>
                    <button ng-click="getApproval()" class="btn">Get approval list only</button>
                </td>
                <td>
                    <button ng-click="getUsers()" class="btn">Edit/Approve user list</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="export-btn" ng-click="export()" class="btn">{{ exportBtnText }}</button>
                </td>
            </tr>
        </table>
        <div ng-if="showUsers && !showXml">
            <h3 class="center-text">User List</h3>
            <user-list users="users"></user-list>
        </div>
    </div>

</div>
