<div id="admin" style="text-align: center">
    <div id="login-form" ng-show="loggedIn == false">
        <form class="form-horizontal">
            <div class="form-group">
                <table class="center-table">
                    <tr>
                        <td style="width: 30%">
                            <label class="control-label">Username: </label>
                        </td>
                        <td class="spaced-row">
                            <input type="text" style="width: 100%" class="form-input form-control" ng-model="username" id="username" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Password:  </label>
                        </td>
                        <td class="spaced-row">
                            <input type="password" style="width: 100%" class="form-input form-control" ng-model="password" id="password" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary" ng-click="login()">Log In</button>
                        </td>
                    </tr>
                </table>

            </div>

        </form>
    </div>
    <div ng-show="loggedIn == true">
        <table class="center-table">
            <tr>
                <td>
                    <button ng-click="getApproval()" class="btn">Get approval list only</button>
                </td>
                <td>
                    <button ng-click="getUsers()" class="btn">Edit/Approve user list</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="export-btn" ng-click="export()" class="btn">{{ exportBtnText }}</button>
                </td>
            </tr>
        </table>
        <div ng-if="showUsers && !showXml">
            <h3 style="text-align: center">User List</h3>
            <user-list users="users"></user-list>
        </div>
        <div ng-if="showXml && !showUsers">
            <h3 style="text-align: center">XML</h3>
            <textarea style="resize: none" ng-model="xmlString" cols="50" rows="30"></textarea>
        </div>
    </div>

</div>
