<form class="form-horizontal" ng-show="messageSent == false">
<fieldset>

<legend>Send a Message</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Message Subject:</label>
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Subject" ng-model="subject" class="form-control input-md">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Message Body:</label>
  <div class="col-md-5">
    <textarea class="form-control" id="textarea" cols="12" rows="10" style="resize: none" ng-model="message" name="textarea" placeholder="Ask Away"></textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" ng-click="send()" class="btn btn-primary">Send Message</button>
  </div>
</div>

</fieldset>
</form>

<h2 ng-show="messageSent == true">{{ statusMessage }}</h2>
