<style>
    tr {
      padding-bottom: 5px;  
    }
</style>
<div class="text-center">
    <table style="margin: auto">
        <tr>
            <td>
                <p>Profile Picture: </p>

            </td>
            <td>
                <input type="file" file-model="myFile" />
                <button ng-click="uploadFile()">upload</button>
            </td>
        </tr>
        <tr>
            <td>
                <h4>My Houses</h4>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>
