<div>
    <div id="main-area">
        <h4 class="center">Step {{ page }} / 8</h4>
        <!-- Map - Location -->
        <div class="center" ng-show="page == 1">
            <h3>Location</h3>
            <p>Please choose the house's location on the map or input the address below</p>
            <div style="margin-bottom: 20px">
                <!-- Choice Buttons -->
                <button class="btn btn-success" ng-click="mapBtn()">map</button>
                <button class="btn btn-info" ng-click="addrBtn()">address</button>
            </div>

            <!-- By Address -->
            <form ng-show="useAddr === true" class="form-vertical max-width" style="margin-top: 40px;">
                <div class="form-group">
                    <label class="control-label col-sm-2 col-sm-offset-3" for="addr">Address</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-input" style="width: 100%" ng-model="address" id="addr">
                    </div>
                </div>
                <div class="col-sm-2" style="margin-left: 10px;">
                    <button class="btn btn-primary" ng-click="confirmAddr()">Confirm</button>
                </div>
            </form>
            <div ng-if="addrNotFound == true" style="display: block;">{{ errText }}</div>

            <!-- By Map -->
            <div ng-show="useMap === true" id="map"></div>
        </div>

        <!-- Various Numbers -->
        <div id="numbers" ng-show="page == 2">
            <h3 class="type-title">A little bit about the house</h3>
            <table style="border-spacing: 5em;">
                <tr>
                    <td style="width: 40%;">
                        <img style="width: 25%; display: inline-block; margin-right: 2px" ng-click="less(0)" src="../pics/minus.svg">
                        <span ng-model="numBeds">{{ numBeds }}</span>
                        <img style="width: 25%; margin-left: 2px" ng-click="more(0)" src="../pics/plus.png">
                    </td>
                    <td style="text-align: left">
                        <label style="display: inline-block">Number of beds</label>
                    </td>
                </tr>
                <tr style="padding-bottom: 10px">
                    <td style="width: 7%;">
                        <img style="width: 25%; display: inline-block; margin-right: 2px" ng-click="less(1)" src="../pics/minus.svg">
                        <span style="display: inline-block" ng-model="numBaths">{{ numBaths }}</span>
                        <img style="width: 25%; margin-left: 2px" ng-click="more(1)" src="../pics/plus.png">
                    </td>
                    <td>
                        <label style="display: inline-block">Number of bathrooms</label>
                    </td>
                </tr>
                <tr style="padding-bottom: 10px">
                    <td style="width: 7%">
                        <img style="width: 25%; display: inline-block; margin-right: 2px" ng-click="less(2)" src="../pics/minus.svg">
                        <span style="display: inline-block" ng-model="accommodates">{{ accommodates }}</span>
                        <img style="width: 25%; margin-left: 2px" ng-click="more(2)" src="../pics/plus.png">
                    </td>
                    <td>
                        <label style="display: inline-block">Accommodates</label>
                    </td>
                </tr>
            </table>



        </div>

        <!-- House rules -->
        <div ng-show="page == 3">
            <h3 style="text-align: center">House rules</h3>
            <table style="margin: 1em auto; margin-top: 30px">
                <tr>
                    <td>
                        <input style="vertical-align: center" ng-model="smoking" type="checkbox">
                    </td>
                    <td style="text-align: left">
                        <label style="margin-left: 5px;">Is smoking allowed?</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="pets" type="checkbox">
                    </td>
                    <td style="text-align: left">
                        <label style="margin-left: 5px;">Are pets allowed?</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="livRoom" type="checkbox">
                    </td>
                    <td style="text-align: left">
                        <label style="margin-left: 5px;">Does this place have a living room?</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="events" type="checkbox">
                    </td>
                    <td style="text-align: left">
                        <label style="margin-left: 5px;">Are events allowed?</label>
                    </td>
                </tr>
            </table>

        </div>

        <!-- Amenities -->
        <div ng-show="page == 4">
            <h3 style="text-align: center">Amenities</h3>
            <table style="margin: 1em auto; margin-top: 30px">
                <tr>
                    <td>
                        <input style="vertical-align: center" ng-model="wifi" type="checkbox">
                    </td>
                    <td style="text-align: left">
                        <label style="margin-left: 5px;">Is there WiFi availability?</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="airconditioning" type="checkbox">
                    </td>
                    <td style="text-align: left">
                        <label style="margin-left: 5px;">Is there air-conditioning?</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="heating" type="checkbox">
                    </td>
                    <td style="text-align: left">
                        <label style="margin-left: 5px;">Does this place have heating?</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="kitchen" type="checkbox">
                    </td>
                    <td style="text-align: left">
                        <label style="margin-left: 5px;">Does this place have a kitchen?</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="tv" type="checkbox">
                    </td>
                    <td style="text-align: left">
                        <label style="margin-left: 5px">Does this place have a TV?</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="parking" type="checkbox">
                    </td>
                    <td style="text-align: left">
                        <label style="margin-left: 5px">Does this place offer parking?</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="elevator" type="checkbox">
                    </td>
                    <td style="text-align: left">
                        <label style="margin-left: 5px">Does this place have an elevator?</label>
                    </td>
                </tr>
            </table>

        </div>

        <!-- House info -->
        <div ng-show="page == 5">
            <h3 style="text-align: center">About the house</h3>
            <table style="margin: 1em auto; margin-top: 30px; border-collapse: collapse">
                <tr>
                    <td style="text-align: right; padding-right: 10%">
                        <label for="area">Area</label>
                    </td>
                    <td style="padding-top: 1em; padding-bottom: .5em; text-align: left">
                        <input type="number" class="form-control" style="width: 20%; display: inline-block" ng-model="area" id="area"> cm
                        <span style="position: relative; bottom: 1ex; font-size: 80%">2</span>
                        <span class="error" ng-if="errors.areaReq == true">Please fill in this area</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Description</label>
                    </td>
                    <td>
                        <textarea style="resize: none" rows="5" cols="50" placeholder="A small description of the house" ng-model="desc"></textarea>
                        <span class="error" ng-if="errors.descReq == true">Please fill in this area</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Getting there</label>
                    </td>
                    <td>
                        <textarea style="resize: none" rows="5" cols="50" placeholder='Ex. "How to get to the house from the closest city/airport/port" ' ng-model="instructions"></textarea>
                        <span class="error" ng-if="errors.instrReq == true">Giving directions to your renters, greatly reduces confusion. Are you sure you want to continue? (Simply click next again)</span>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Available dates -->
        <div ng-show="page == 6">
            <h3 style="text-align: center">Dates</h3>

            <div class="center">
                <label style="margin-right: 10px">Available from: </label><input type="date" ng-model="dateFrom">
                <label> - To</label> <input type="date" my-date ng-model="dateTo">
                <span class="error" style="margin-right: 50px; position: absolute" ng-if="errors.datesErr == true">{{ errors.datesErrText }}</span>
            </div>
            <table style="width: 30%; margin: 1em auto; text-align: center; margin-top: 50px">
                <tr class="max-width; padding-top: 50px;">
                    <td style="width: 30%;">
                        <img style="width: 25%; display: inline-block; margin-right: 2px" ng-click="less(3)" src="../pics/minus.svg">
                        <p style="display: inline-block" ng-model="minDays">{{ minDays }}</p>
                        <img style="width: 25%; margin-left: 2px" ng-click="more(3)" src="../pics/plus.png">
                    </td>
                    <td style="text-align: left; padding-top: 0px">
                        <label style="display: inline-block;">Minimum number of days</label>
                    </td>
                </tr>
            </table>

        </div>

        <!-- Cost -->
        <div ng-show="page == 7">
            <div style="text-align: center">
                <h3>Cost</h3>
                <table style="margin: 1em auto">
                    <tr>
                    <td>
                        <label>Minimum cost</label>
                    </td>
                       <td>
                           <input ng-model="minCost" type="number">
                       </td>

                    </tr>
                </table>
                <br>
                <label>Cost per person: </label><input ng-model="costPerPerson" type="number">
                <br>
                <!-- TODO: Add verification -->
                <label>Cost per day: </label><input ng-model="costPerDay" type="number">
            </div>
        </div>

        <div ng-show="page == 8">
            <h3 style="text-align: center">Picture</h3>
            <table style="margin: auto">
                <tr>
                    <td>
                        <input type="file" file-model="housePic">
                    </td>
                </tr>
            </table>
        </div>

        <div style="text-align: center" ng-show="page == 9">
            <h2>Successfully registered house</h2>
        </div>


    </div>
    <div ng-show="page != 9" style="text-align: center; min-height: 100px; max-height: 100px">
        <button id="next-btn" class="btn btn-primary" ng-click="next()">Next</button>
        <button ng-show="page != 1" ng-click="back()">Back</button>
    </div>
</div>
