<div style="margin-left: 15%" class="row" ng-repeat="house4 in houses | chunkBy:4">
    <div ng-click="presentHouse($parent.$index, $index)" class="col-lg-3" style="cursor: pointer" ng-repeat="house in house4">
        <img style="width: 200px; height; 200px; min-width: 200px; min-height: 200px; max-width: 200px; max-height: 200px" ng-src="data:image/jpg;base64,{{house.picture}}" />
        <table style="margin: auto">
            <tr>
                <td style="width: 40%">
                    <div id="rating">
                        <ng-rate-it ng-show="house.numRatings !== 0" ng-model="house.rating" read-only="true" style="display: inline-block"></ng-rate-it>
                        <span ng-show="house.numRatings != 0" style="display: inline-block">({{ house.numRatings }} Reviews)</span>
                        <p ng-show="house.numRatings == 0">No reviews</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <div id="house-cost">
                        <span id="house-cost-text"><b>{{ house.minCost }} €</b></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 40%">
                    <span id="house-city-country">{{ house.city }}</span><span ng-if="house.city != null">,</span><span> {{ house.country }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>From: </label>
                </td>
                <td>
                    {{ booking.dateFrom }}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Until: </label>
                </td>
                <td>
                    {{ booking.dateTo }}
                </td>
            </tr>
        </table>
    </div>
</div>
